/* https://colorhunt.co/palette/16213e0f3460533483e94560 

BG: #16213E
Primary: #0F3460
Secondary: #533483
Accent: #E94560

*/

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --bg: #fdfbff;
  --bg-text: #1a1c1e;

  --outline: #74777f;

  --pri: #245fa6;
  --pri-text: #ffffff;
  --pri-con: #d5e3ff;
  --pri-con-text: #001b3c;

  --sec: #6b4ea2;
  --sec-text: #ffffff;
  --sec-con: #ebddff;
  --sec-con-text: #260059;

  --tert: #974066;
  --tert-text: #ffffff;
  --tert-con: #ffd9e4;
  --tert-con-text: #3e0021;

  --err: #ba1a1a;
  --err-text: #ffffff;
  --err-con: #ffdad6;
  --err-con-text: #410002;

  color: var(--bg-text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: var(--pri);
  text-decoration: inherit;
}

a:hover {
  color: var(--pri-text);
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--pri-con-text);
  background-color: var(--pri-con);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

input::placeholder {
  color: var(--pri);
  opacity: .7;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: var(--pri-con-text);
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1a1c1e;
    --bg-text: #e3e2e6;

    --outline: #8e9199;

    --pri: #a7c8ff;
    --pri-text: #003061;
    --pri-con: #004689;
    --pri-con-text: #d5e3ff;

    --sec: #d3bbff;
    --sec-text: #3c1d70;
    --sec-con: #533688;
    --sec-con-text: #ebddff;

    --tert: #ffb0cd;
    --tert-text: #5d1137;
    --tert-con: #7a294e;
    --tert-con-text: #ffd9e4;

    --err: #ffb4ab;
    --err-text: #690005;
    --err-con: #93000a;
    --err-con-text: #ffdad6;
  }
}
