/* https://colorhunt.co/palette/16213e0f3460533483e94560  */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  /* --bg: #fdfbff;
  --bg2: #ffffff;
  --bg-text: #1a1c1e;

  --outline: #74777f;

  --pri: #245fa6;
  --pri-text: #ffffff;
  --pri-con: #d5e3ff;
  --pri-con-text: #001b3c;

  --sec: #6b4ea2;
  --sec-text: #ffffff;
  --sec-con: #ebddff;
  --sec-con-text: #260059;

  --tert: #974066;
  --tert-text: #ffffff;
  --tert-con: #ffd9e4;
  --tert-con-text: #3e0021;

  --err: #ba1a1a;
  --err-text: #ffffff;
  --err-con: #ffdad6;
  --err-con-text: #410002; */

  --kills: 0;

  --red: #f35355;
  --blu: #65b1e2;

  --bg: #1a1c1e;
  --bg2: #131516;
  --bg-text: #e3e2e6;

  --outline: #8e9199;

  --pri: #a7c8ff;
  --pri-text: #003061;
  --pri-con: #004689;
  --pri-con-text: #d5e3ff;

  --sec: #d3bbff;
  --sec-text: #3c1d70;
  --sec-con: #533688;
  --sec-con-text: #ebddff;

  --tert: #ffb0cd;
  --tert-text: #5d1137;
  --tert-con: #7a294e;
  --tert-con-text: #ffd9e4;

  --err: #ffb4ab;
  --err-text: #690005;
  --err-con: #93000a;
  --err-con-text: #ffdad6;

  color: var(--bg-text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.container {
  font-family: "Atkinson Hyperlegible", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: var(--pri);
  text-decoration: inherit;
  margin: auto;
}

a:hover {
  color: var(--pri-con-text);
}

h1 {
  text-align: center;
}

.padding-0 {
  padding: 0;
  margin: 0;
}

.centered {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.bordered {
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--bg2);
}

.bordered--pri {
  border-color: var(--pri-con);
}

.bordered--sec {
  border-color: var(--sec-con);
}

.bordered--tert {
  border-color: var(--tert-con);
}

.setting {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  justify-content: space-between;
  gap: 1rem;
  margin: auto;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 1000px;
  padding: 0rem 1rem;
}

.settings__input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.settings__span {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.setting > .input-group:nth-child(odd):last-of-type {
  grid-column: 1 / span 2;
}

body {
  margin: 0;
}

input,
button,
select {
  border-radius: 8px;
  border: 1px solid var(--pri-con);
  border-bottom-width: 2px;
  padding: 0.5rem 0.7rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--pri-con-text);
  background-color: var(--bg2);
  transition:
    border-color 0.25s,
    filter 0.3s;
  outline: none;
  filter: drop-shadow(0px 0px -1px var(--pri));
}

input::placeholder {
  color: var(--pri-con);
  opacity: 0.7;
}

.input {
  color: var(--pri-con-text);
}

input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.input--sec {
  color: var(--sec-con-text);
  border-color: var(--sec-con);
}

.input--sec::placeholder {
  color: var(--sec-con);
  opacity: 0.7;
}

.input--tert {
  color: var(--tert-con-text);
  border-color: var(--tert-con);
}

.input--tert::placeholder {
  color: var(--tert-con);
  opacity: 0.7;
}

.input__switch {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

button {
  cursor: pointer;
  border-width: 1px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

button:not(:disabled):hover {
  border-color: var(--pri-con-text);
  filter: drop-shadow(0px 0px 2px var(--pri-con-text));
}

.input:not(:disabled):hover {
  border-color: var(--pri-con-text);
  filter: drop-shadow(0px 0px 2px var(--pri-con-text));
}

.input--sec:not(:disabled):hover {
  border-color: var(--sec-con-text);
  filter: drop-shadow(0px 0px 2px var(--sec-con-text));
}

.input--tert:not(:disabled):hover {
  border-color: var(--tert-con-text);
  filter: drop-shadow(0px 0px 2px var(--tert-con-text));
}

.btn {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 0.7rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--pri-con-text);
  border-color: var(--pri-con);
  background-color: var(--bg2);
  transition:
    border-color 0.25s,
    filter 0.3s;
  outline: none;
  filter: drop-shadow(0px 0px -1px var(--pri));
}

.btn--sec {
  color: var(--sec-con-text);
  border-color: var(--sec-con);
  filter: drop-shadow(0px 0px -1px var(--sec));
}

.btn--tert {
  color: var(--tert-con-text);
  border-color: var(--tert-con);
  filter: drop-shadow(0px 0px -1px var(--tert));
}

.btn--cancel {
  color: var(--err-con-text);
  border-color: var(--err-con);
  filter: drop-shadow(0px 0px -1px var(--err));
}

.cancel-btn {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 0.7rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--err-con-text);
  border-color: var(--err-con);
  transition:
    border-color 0.25s,
    filter 0.3s;
  outline: none;
  filter: drop-shadow(0px 0px -1px var(--err));
}

.cancel-btn:hover {
  border-color: var(--err-con-text);
  filter: drop-shadow(0px 0px 2px var(--err-con-text));
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 21px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--pri-con);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--pri-con-text);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--pri-con-text);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--pri-con-text);
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
  background-color: var(--pri-con);
}

.slider--sec {
  background-color: var(--sec-con);
}

.slider--sec:before {
  background-color: var(--sec-con-text);
}

input:checked + .slider--sec {
  background-color: var(--sec-con-text);
}

input:focus + .slider--sec {
  box-shadow: 0 0 1px var(--sec-con-text);
}

input:checked + .slider--sec:before {
  background-color: var(--sec-con);
}

.slider--tert {
  background-color: var(--tert-con);
}

.slider--tert:before {
  background-color: var(--tert-con-text);
}

input:checked + .slider--tert {
  background-color: var(--tert-con-text);
}

input:focus + .slider--tert {
  box-shadow: 0 0 1px var(--tert-con-text);
}

input:checked + .slider--tert:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
  background-color: var(--tert-con);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.pointer {
  cursor: pointer;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.input-group > input {
  width: 100%;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1a1c1e;
    --bg2: #131516;
    --bg-text: #e3e2e6;

    --outline: #8e9199;

    --pri: #a7c8ff;
    --pri-text: #003061;
    --pri-con: #004689;
    --pri-con-text: #d5e3ff;

    --sec: #d3bbff;
    --sec-text: #3c1d70;
    --sec-con: #533688;
    --sec-con-text: #ebddff;

    --tert: #ffb0cd;
    --tert-text: #5d1137;
    --tert-con: #7a294e;
    --tert-con-text: #ffd9e4;

    --err: #ffb4ab;
    --err-text: #690005;
    --err-con: #93000a;
    --err-con-text: #ffdad6;
  }

  .slider {
    background-color: var(--pri-con-text);
  }

  .slider:before {
    background-color: var(--pri-con);
  }

  .slider--sec {
    background-color: var(--sec-con-text);
  }

  .slider--sec:before {
    background-color: var(--sec-con);
  }

  .slider--tert {
    background-color: var(--tert-con-text);
  }

  .slider--tert:before {
    background-color: var(--tert-con);
  }

  input:checked + .slider {
    background-color: var(--pri-con);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--pri-con);
  }

  input:checked + .slider:before {
    background-color: var(--pri-con-text);
  }

  input:checked + .slider--sec {
    background-color: var(--sec-con);
  }

  input:focus + .slider--tert {
    box-shadow: 0 0 1px var(--sec-con);
  }

  input:checked + .slider--tert:before {
    background-color: var(--sec-con-text);
  }

  input:checked + .slider--tert {
    background-color: var(--tert-con);
  }

  input:focus + .slider--tert {
    box-shadow: 0 0 1px var(--tert-con);
  }

  input:checked + .slider--tert:before {
    background-color: var(--tert-con-text);
  }
}

.full-width {
  width: 100%;
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip::before {
  z-index: 99999;
  content: attr(data-tooltip);
  position: absolute;
  top: calc(-2.4rem - (1.72rem * var(--kills)));
  left: 0rem;
  display: none;
  background-color: var(--bg);
  color: var(--bg-text);
  border: var(--outline) 1px solid;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  width: max-content;
  max-width: 500px;
  overflow: hidden;
  white-space: pre;
  font-size: 12px;
  pointer-events: none;
  text-align: left;
}
.tooltip::after {
  z-index: 99999;
  content: "";
  display: none;
  position: absolute;
  top: -0.2rem;
  left: 0.5rem;
  height: 0.5rem;
  width: 0.8rem;
  background-color: var(--outline);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  pointer-events: none;
}
.tooltip__lower::before {
  top: 1.9rem;
  background-color: var(--bg);
  z-index: 99999;
}
.tooltip__lower::after {
  top: 1.45rem;
  z-index: 99999;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}
.tooltip--left::before {
  left: auto;
  right: calc(100% - 2rem);
}
.tooltip--left::after {
  left: auto;
  right: calc(100% - 1.3rem);
}
.tooltip--align-right::before {
  left: auto;
  right: 2rem;
}
.tooltip--align-right::after {
  left: auto;
  right: 2.5rem;
}
.tooltip--custom::before {
  left: calc(var(--pos) + 0.5rem);
}
.tooltip--custom::after {
  left: calc(var(--pos) + 1rem);
}
.tooltip:hover,
.tooltip:active {
  color: var(--sec);
}
.tooltip:hover::before,
.tooltip:active::before {
  display: block;
}
.tooltip:hover::after,
.tooltip:active::after {
  display: block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blu);
}

.autocomplete-input {
  height: 34px !important;
}

.autocomplete-list {
  max-height: 200px !important;
  overflow-x: hidden;
}

.autocomplete-list-item {
  text-align: left;
  padding-left: 0.5rem !important;
  padding-right: 0 !important;
}

/* width */
.autocomplete-list::-webkit-scrollbar {
  width: 8px;
}

.autocomplete--sec * {
  color: var(--sec-con-text);
  border-color: var(--sec-con);
}

.autocomplete--sec .autocomplete-list {
  background-color: var(--bg2) !important;
  border-radius: 8px;
  padding: 0 !important;
}

.autocomplete--sec .autocomplete-list-item {
  color: var(--sec-con-text) !important;
}

.autocomplete--sec .autocomplete-list-item.selected {
  background-color: var(--sec-con-text) !important;
  color: var(--bg) !important;
}

.autocomplete--sec .autocomplete-list-item.confirmed {
  background-color: var(--sec-con) !important;
  color: var(--sec-con-text) !important;
}

.autocomplete--sec *::placeholder {
  color: var(--sec-con);
  opacity: 0.7;
}

.autocomplete--sec *::after {
  border-color: var(--sec-con-text) !important;
  top: 1.3rem !important;
  right: 6px !important;

  border-left: 2px solid !important;
  border-bottom: 2px solid !important;

  height: 0.35em !important;
  width: 0.35em !important;
}

/* Track */
.autocomplete--sec .autocomplete-list::-webkit-scrollbar-track {
  background: var(--sec);
  border-radius: 0 8px 8px 0;
  overflow: hidden;
}

/* Handle */
.autocomplete--sec .autocomplete-list::-webkit-scrollbar-thumb {
  background: var(--sec-con);
  border-radius: 0 8px 8px 0;
}

.autocomplete--tert * {
  color: var(--tert-con-text);
  border-color: var(--tert-con);
}

.autocomplete--tert .autocomplete-list {
  background-color: var(--bg2) !important;
  border-radius: 8px;
  padding: 0 !important;
}

.autocomplete--tert .autocomplete-list-item {
  color: var(--tert-con-text) !important;
}

.autocomplete--tert .autocomplete-list-item.selected {
  background-color: var(--tert-con) !important;
  color: var(--tert-con-text) !important;
}

.autocomplete--tert .autocomplete-list-item.confirmed {
  background-color: var(--tert-con) !important;
  color: var(--tert-con-text) !important;
}

.autocomplete--tert *::placeholder {
  color: var(--tert-con);
  opacity: 0.7;
}

.autocomplete--tert *::after {
  border-color: var(--tert-con-text) !important;
  top: 1.3rem !important;
  right: 6px !important;

  border-left: 2px solid !important;
  border-bottom: 2px solid !important;

  height: 0.35em !important;
  width: 0.35em !important;
}

/* Track */
.autocomplete--tert .autocomplete-list::-webkit-scrollbar-track {
  background: var(--tert);
  border-radius: 0 8px 8px 0;
  overflow: hidden;
}

/* Handle */
.autocomplete--tert .autocomplete-list::-webkit-scrollbar-thumb {
  background: var(--tert-con);
  border-radius: 0 8px 8px 0;
}

.vtlist-inner {
  border-collapse: separate;
  border-spacing: 0 2px;
  width: 100%;
}

/* width */
.vtlist::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
.vtlist::-webkit-scrollbar-track {
  background: var(--sec);
  border-radius: 0 8px 8px 0;
  overflow: hidden;
}

/* Handle */
.vtlist::-webkit-scrollbar-thumb {
  background: var(--sec-con);
  border-radius: 0 8px 8px 0;
}
